[submodule "xcursor-menda-git"]
	path = xcursor-menda-git
	url = ssh://aur@aur.archlinux.org/xcursor-menda-git.git/
[submodule "picojson-git"]
	path = picojson-git
	url = ssh://aur@aur.archlinux.org/picojson-git.git/
[submodule "wqy-microhei-kr-patched"]
	path = wqy-microhei-kr-patched
	url = ssh://aur@aur.archlinux.org/wqy-microhei-kr-patched.git/
[submodule "hugo"]
	path = hugo
	url = ssh://aur@aur.archlinux.org/hugo.git/
[submodule "menda-icon-themes-git"]
	path = menda-icon-themes-git
	url = ssh://aur@aur.archlinux.org/menda-icon-themes-git.git/
[submodule "menda-themes"]
	path = menda-themes
	url = ssh://aur@aur.archlinux.org/menda-themes.git/
[submodule "go-gpm-local"]
	path = go-gpm-local
	url = ssh://aur@aur.archlinux.org/go-gpm-local.git/
[submodule "gvp"]
	path = gvp
	url = ssh://aur@aur.archlinux.org/gvp.git/
[submodule "go-gpm"]
	path = go-gpm
	url = ssh://aur@aur.archlinux.org/go-gpm.git/
[submodule "go-gpm-all"]
	path = go-gpm-all
	url = ssh://aur@aur.archlinux.org/go-gpm-all.git/
[submodule "go-gpm-bootstrap"]
	path = go-gpm-bootstrap
	url = ssh://aur@aur.archlinux.org/go-gpm-bootstrap.git/
[submodule "danmaku2ass-native"]
	path = danmaku2ass-native
	url = ssh://aur@aur.archlinux.org/danmaku2ass-native.git/
[submodule "glide-git"]
	path = glide-git
	url = ssh://aur@aur.archlinux.org/glide-git.git
[submodule "hound"]
	path = hound
	url = ssh://aur@aur.archlinux.org/hound.git
[submodule "glide-bin"]
	path = glide-bin
	url = ssh://aur@aur.archlinux.org/glide-bin.git
[submodule "gogs"]
	path = gogs
	url = ssh://aur@aur.archlinux.org/gogs.git
[submodule "go-tools"]
	path = go-tools
	url = ssh+git://aur@aur.archlinux.org/go-tools.git
[submodule "clessc-git"]
	path = clessc-git
	url = ssh://aur@aur.archlinux.org/clessc-git
